.card {
  position: relative;
  margin-left: 36px;

  width: 173px;
  height: 300px;
  font-size: 12px;
}
.card > img {
  border-radius: 9px;
  width: 176px;
  height: 235px;
  font-size: 12px;
}
.card--status {
  background-color: #fff;
  position: absolute;
  float: left;
  left: 6px;
  top: 6px;
  padding: 2px 5px;
  z-index: 9999;
  font-size: 10px;
  border-radius: 2px;
}

.star {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.card--details--desc {
  padding: 0;
}
