img.photo {
  width: 399.91px;
  height: 232px;
  display: block;
  margin: auto;
  margin-top: 16px;
  margin-bottom: calc(360px - 328px);
}
.app {
  margin: 10px auto;
  width: 550px;
  font-family: "Poppins";
  box-shadow: 2px 2px 12px rgb(0 0 0 / 8%), 2px 12px 12px rgb(0 0 0 / 5%);
  border-radius: 10px;
}
h1 {
  padding: 0 36px;
  margin-bottom: 16px;
}
p.App--p {
  margin: 0 0 49px 0;
  padding: 0 36px;
  width: 320px;
}
.app--experiences {
  display: flex;
  overflow: scroll;
}
