img.photo {
  width: 399.91px;
  height: 232px;
  display: block;
  margin: auto;
  margin-top: 16px;
  margin-bottom: calc(360px - 328px);
}
.app {
  margin: auto;
  width: 550px;
  height: 100vh;
  font-family: "Poppins";
  box-shadow: 2px 2px 2px rgb(0 0 0 / 8%), 2px 2px 12px rgb(0 0 0 / 5%);
}
h1 {
  padding: 0 36px;
}
p {
  padding: 0 36px;
  width: 320px;
}
